@font-face{
    font-family: bebas_bold;
    src: url(../fonts/BebasNeue_bold.otf);
}

@font-face{
    font-family: chaparral;
    src: url(../fonts/ChaparralPro-Bold.otf);
}

@font-face{
    font-family: didot;
    src: url(../fonts/Didot_Bold_Italic.ttf);
}

@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

/*Brian's CSS*/

div.green_screen{
    background-color: #48cb92;
    width: auto;
    height: 750px;
}

div#header{
    font-family: chaparral;
    color: white;
    margin-top: 70px;

}

div#share_links{
    margin-top: 50px;
}

div.title{
    margin-top: 40px;
}

div#title{
    font-family: bebas_bold;
    font-size: 144px;
    color: white;
    padding: 0;
}

div#title2{
    position: relative;
    top: -135px;
    font-family: bebas_bold;
    font-size: 144px;
    color: #48cb92;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    z-index: 1;
}

div.recipient_name{
}

div#date{
    padding-left: 0;
    font-size: 32px;
    color: #770eff;
    margin-bottom: 50px;
    font-family: chaparral;

}

div.date_row{
    position: relative;
    top: -150px;
    z-index: 1;

}



div#tickets{
    position: relative;
    top: -150px;
    z-index: 1;
    padding: 0;
}

div.squiggly_box{
    position: relative;
    width: 36%;
    height: 65%;
    margin-top: -410px;

    z-index: 2;
    background-color: #ffffff;
    padding: 45px;
    color: #770eff;
    font-size: 18px;
}

img.image_2016{
    height: 200px;
    width: 200px;
    z-index: 2;
    right: 160px;
    top: -95px;
    position: absolute;
}

img.image_squiggle{
    height: 40px;
    width: 100px;
    z-index: 2;
    left: -40px;
    top: 25px;
    position: absolute;
}

/*Lucas's CSS*/

div.title3{
    font-size: 120px;
    font-family: bebas_bold;
    color: #F6F6F6;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #48cb92;
    margin-left: 12.5%;
    z-index: 1;
}

.shadow-border{
    border-color: #6a0b8c;
    border-width: 20 px;
    border-style: solid;
    filter: alpha(opacity=0);
    box-shadow: 15px 15px 0px #6a0b8c;
    padding-top: 50px;
}

.fill{
    height: 100%;
}

.height38{
    height: 38%;
}

.leftpar{
    padding-right: 30px;
    font-family: roboto;
    padding-top: 40px;
}

.rightpar{
    font-family: roboto;
    padding-bottom: 40px;
    padding-top: 100px;
}

.top-buffer-50{
    margin-top: 50px;
}

.reciplist{
    font-family: roboto;
    font-size: 20px;
    color: #6a0b8c;
    margin-top: -100px;
    z-index: 9999999;
    position: relative;
    margin-bottom: 50px;
}

.botleftpar{
    padding-top: 50px;
    padding-right: 30px;
    font-family: roboto;
}

.botrightpar{
    padding-top: 150px;
    padding-right: 30px;
    font-family: roboto;
}

#left{
    margin-left: 27%;
    float: left;
}
#right{
    margin-left: 20%;
    float: left;
}

img.resize{
    width: 300px;
    height:auto
}

#lightgrey{
    background-color: #F6F6F6;
    padding-top: 100px;
}

#multicolor{
    background: linear-gradient(to bottom,  #f6f6f6 0%,#f6f6f6 75%,white 75%,white 100%);
}

#footer {
    background-color: #580380;
    color: #ffffff;
    padding: 30px;
    font-family: roboto;
}

div#tickets-footer {
    padding-top: 50px;
}

div#press-footer {
    padding-top: 100px;
}

div#sponsors-footer {
    margin-top: -100px;
    text-align: center;
    position: relative;
}

p#footer {
    padding: 200px;
}