@font-face{
    font-family: bebas_bold;
    src: url(../fonts/BebasNeue_bold.otf);
}

@font-face{
    font-family: chaparral;
    src: url(../fonts/ChaparralPro-Bold.otf);
}

@font-face{
    font-family: didot;
    src: url(../fonts/Didot_Bold_Italic.ttf);
}

/*Brian's stuff*/
div.green_screen{
    background-color: #48cb92;
    width: auto;
    height: 750px;
}

div#header{
    font-family: chaparral;
    color: white;
    margin-top: 70px;

}

div#share_links{
    margin-top: 50px;
}

div.title{
    margin-top: 40px;
}

div#title{
    font-family: bebas_bold;
    font-size: 144px;
    color: white;
    padding: 0;
}

div#title2{
    position: relative;
    top: -135px;
    font-family: bebas_bold;
    font-size: 144px;
    color: #48cb92;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    z-index: 1;
}

div#date{

    font-size: 32px;
    color: #770eff;
    margin-bottom: 50px;
    font-family: chaparral;
}

div#tickets{
;
}
/*Lucas' Stuff*/
div.title3{
    font-size: 80px;
    font-family: bebas_bold;
    color: #F6F6F6;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #48cb92;
    padding-top: 50 px;
    margin-left: 12.5%;
}

.shadow-border{
    border-color: #6a0b8c;
    border-width: 8 px;
    border-style: solid;
    filter: alpha(opacity=0);
}

.fill{
    height: 100%;
}

.height38{
    height: 38%;
}

.leftpar{
    padding-right: 30px;
    font-family: chaparral;
    padding-top: 40px;
}

.top-buffer-200{
    margin-top: 200px;
}

.reciplist{
    font-family: chaparral;
    color: #6a0b8c;
}

#left{
    margin-left: 25%;
    float: left;
}
#right{
    margin-left: 62.5%;
    float: left;
}

img.resize{
    width: 320px;
    height:auto

}

#lightgrey{
    background-color: #F6F6F6;
    padding-top: 100px;
}

#multicolor{
    background: linear-gradient(to bottom,  #f6f6f6 0%,#f6f6f6 75%,white 75%,white 100%);

}
